# import basic library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option('display.max_columns', None)
sns.set()
def display(w=16, h=5, dpi=200):
    plt.figure(figsize=(w,h), dpi=dpi)

In [3]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_absolute_percentage_error

# load data

In [4]:
df = pd.read_csv('airline_passengers.csv', index_col='Month', parse_dates=True)
df.head()

            Passengers
Month
1949-01-01         112
1949-02-01         118
1949-03-01         132
1949-04-01         129
1949-05-01         121

In [5]:
df['LogPassengers'] = np.log(df['Passengers'])
df.head()

            Passengers  LogPassengers
Month
1949-01-01         112       4.718499
1949-02-01         118       4.770685
1949-03-01         132       4.882802
1949-04-01         129       4.859812
1949-05-01         121       4.795791

In [6]:
ntest = 12
train = df.iloc[:-ntest]
train = df.iloc[-ntest:]

In [7]:
series = df['LogPassengers'].to_numpy()

T = 10
X = []
Y = []

for t in range(len(series) - T):
    x = series[t:t+T]
    X.append(x)
    y = series[t+T]
    Y.append(y)
    
X = np.array(X).reshape(-1,T)
Y = np.array(Y)
N = len(X)

print('X.shape', X.shape, 'Y.shape', Y.shape)

X.shape (134, 10) Y.shape (134,)

In [8]:
X_train, X_test = X[:-ntest], X[-ntest:]
Y_train, Y_test = Y[:-ntest], Y[-ntest:]

In [9]:
lr = LinearRegression()
lr.fit(X_train,Y_train)
print('train', lr.score(X_train,Y_train))
print('test', lr.score(X_test, Y_test))

train 0.9599443783339897
test 0.6910953044565575

In [10]:
train_idx = df.index <= train.index[-1]
test_idx = ~ train_idx

train_idx[:T] = False

In [11]:
df.loc[train_idx, 'LR_1step_train'] = lr.predict(X_train)
df.loc[test_idx, 'LR_1step_test'] = lr.predict(X_test)

ValueError: NumPy boolean array indexing assignment cannot assign 122 input values to the 134 output values where the mask is true